networks:
  vision:
    driver: bridge  # Docker bridge network for internal communication
  macvlan:
    driver: macvlan
    driver_opts:
      parent: eno1  # Replace with your actual network interface (e.g., eth0, eno1)
    ipam:
      config:
        - subnet: 192.168.1.0/24  # Define the subnet range
          gateway: 192.168.1.1    # Define the gateway

services:
  camera:
    build:
      context: ./services/camera
    env_file: ./services/camera/.env
    volumes:
      - ./services/camera:/app
    ipc: host
    devices:
      - "${CAM_DEVICE}:${CAM_DEVICE}"
    networks:
      - vision

  dashboard:
    build:
      context: ./services/dashboard
    env_file: ./services/dashboard/.env
    volumes:
      - ./services/dashboard:/app
    environment:
      ZMQ_SUB_ENDPOINT: tcp://camera:5555
      RTP_DST_IP: 192.168.1.255
    depends_on:
      - camera
    ipc: host
    networks:
      - vision
      - macvlan
    ports:
      - "5004:5004/udp"  # RTP Stream
      - "8080:80/tcp"    # Web UI access from the host via localhost:8080
  gcs:
    build:
      context: ./services/gcs
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./services/gcs:/app
    env_file:
      - ./services/gcs/.env
    command: python server.py
