networks:
  vision:
    driver: bridge  # Docker bridge network for internal communication
    ipam:
      config:
        - subnet: 172.30.10.0/24
          gateway: ${VISION_GATEWAY}    
  macvlan:
    driver: macvlan
    driver_opts:
      parent: ${MACVLAN_PARENT} 
    ipam:
      config:
        - subnet: 192.168.1.0/24  # Define the subnet range
          gateway: 192.168.1.1    # Define the gateway

services:
  camera:
    build:
      context: ./services/camera
    env_file: ./services/camera/.env
    volumes:
      - ./services/camera:/app
    ipc: host
    devices:
      - "${CAM_DEVICE}:${CAM_DEVICE}"
    networks:
      - vision

  gateway:
    build:
      context: ./services/gateway
    env_file: ./services/gateway/.env
    volumes:
      - ./services/gateway:/app
    environment:
      ZMQ_SUB_ENDPOINT: tcp://camera:5555
      # RTP destination modes:
      # - Host-side viewing/debugging: 172.30.10.1
      # - Remote-side LAN: 192.168.1.X (use .255 only for broadcast)
      RTP_DST_IP: ${VISION_GATEWAY}
    depends_on:
      - camera
    ipc: host
    networks:
      - vision
      - macvlan
    ports:
#      - "5004:5004/udp"  # RTP Stream
      - "9000:9000/udp"  # UDP Rx (only needed used when running gcs on host, but doesn't hurt remote/macvlan)    
      - "8081:80/tcp"    # Web UI access from the host via localhost:8080

  gcs:
    build:
      context: ./services/gcs
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./services/gcs:/app
    env_file:
      - ./services/gcs/.env
#    command: python run_gcs.py
